Source: vagalume
Section: audio
Priority: extra
Maintainer: Alberto Garcia <agarcia@igalia.com>
Build-Depends: debhelper (>= 4), pkg-config, libgtk2.0-dev, libgstreamer0.10-dev, libcurl3-dev
Standards-Version: 3.7.2

Package: vagalume
Architecture: any
Depends: ${shlibs:Depends}, gstreamer0.10-plugins-good, gstreamer0.10-plugins-ugly
Description: A small Last.fm client for Gnome and Maemo
 Vagalume is a Last.fm client designed for the Gnome desktop
 environment. It's small and provides the basic Last.fm features, such
 as scrobbling, tags, recommendations, etc. Vagalume is specially
 designed to work in the Maemo platform, used by some Nokia devices
 such as the Nokia 770, N800 and N810
