[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=GNOME;GTK;Application;AudioVideo;Player;
Name=Vagalume Last.fm Client
Exec=/usr/bin/vagalume
Icon=vagalume
X-Icon-path=/usr/share/pixmaps
X-Window-Icon=vagalume
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=com.igalia.vagalume
X-Osso-Type=application/x-executable
X-Osso-URI-Actions=lastfm;

[X-Osso-URI-Action Handler lastfm]
Method=PlayUrl
Name=lastfm_play_uri
TranslationDomain=osso-uri
