#include <winver.h>


VS_VERSION_INFO VERSIONINFO
  FILEVERSION 0,6,1,0
  PRODUCTVERSION 0,6,1,0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
        VALUE "CompanyName", "Vagalume developers"
        VALUE "FileDescription", "Vagalume"
        VALUE "FileVersion", "0.6.1"
        VALUE "InternalName", "vagalume"
        VALUE "LegalCopyright", "Copyright (C) 2007-2008 Alberto Garcia."
        VALUE "OriginalFilename", "vagalume.exe"
        VALUE "ProductName", "Vagalume"
        VALUE "ProductVersion", "0.6.1"
      END
    END
    
  END

VAGALUME_ICON		ICON  "vagalume.ico"
